
.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; /* Исправлено, чтобы фон занимал весь экран */
  background-color: #B9E5E8;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Убираем полоски */
}

.auth-form {
  background-color: #7AB2D3;
  padding: 70px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.auth-form h2 {
  margin-bottom: 20px;
  color: #000000;
}

.auth-form label {
  display: block;
  margin: 10px 0 5px;
  color: #000000;
  text-align: left;
}

.auth-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #000000;
}

.auth-button {
  width: 100%;
  padding: 10px;
  background-color: #1a4d6b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.switch-text {
  margin-top: 15px;
}

.switch-text a {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}