
.search {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
  
.search-button {
  padding: 10px 20px;
  background-color: #88C0D0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
  
.filter-button {
  background: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
  
.filter-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
}
  
.filter-modal h2 {
  margin-top: 0;
  text-align: center;
}
  
.filter-modal form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
  
.search-submit {
  padding: 8px 16px;
  background-color: #88C0D0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
  
.close-button {
  margin-top: 10px;
  padding: 5px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
  
.searchParams {
  display: flex;
  flex-direction: row-reverse;
}

.profile-card {
  background-color: white;
  padding: 5%;
  margin-bottom: 4%;
}